commands:
  00_upgrade_php:
    command: |
      if [ `php -r "echo version_compare(PHP_VERSION, '8.1.0') >= 0;"` = 1 ]
      then
        echo "PHP already up-to-date"
      else
        sudo yum -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
        sudo yum -y install https://rpms.remirepo.net/enterprise/remi-release-7.rpm
        sudo yum -y install yum-utils
        sudo yum -y install rpl
        sudo yum-config-manager --setopt=remi.priority=1 --save
        # Reinstall ImageMagick from remi to prevent dependency conflicts
        sudo yum -y remove ImageMagick
        sudo yum -y install ImageMagick
        export LC_ALL=en_US.UTF-8
        export LANG=en_US.UTF-8
        sudo yum-config-manager --disable 'remi-php*'
        sudo yum-config-manager --enable remi-php81
        rpl [remi-php81] "[remi-php81]\npriority=1" /etc/yum.repos.d/remi-php81.repo -e
        yum upgrade -y php php-*
      fi
    test: test ! -f .semaphore
  01_lock:
    command: touch .semaphore